.file-component {
  background-color: #967E76;
  color: #CED6E3;
  border: 1px solid #443A32;
  display: flex;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;

  width: 120px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: hsl(15, 13%, 43%);
  }

  &:active {
    background-color: hsl(15, 13%, 23%);
  }
}